ConnectionStrings__Pvm=Host=localhost;Port=54329;Database=pvm;Username=pvm;Password=pvm
Acumatica__BaseUrl=https://example.acumatica.com
Acumatica__Tenant=
Acumatica__ClientId=
Acumatica__ClientSecret=
Shoprite__BaseUrl=https://externalservicesqa.shopriteholdings.co.za/b2bservice/api
Shoprite__Username=
Shoprite__Password=
Shoprite__ContractId=aa659aa2-4175-471f-8c82-59ca416723cf
Shoprite__UiUser=
