ConnectionStrings__Pvm=Host=localhost;Port=54329;Database=pvm;Username=pvm;Password=pvm
Acumatica__InvoiceSourceMode=Fixture
Acumatica__BaseUrl=https://devtest1.aboutitgroup.co.za/PVMGroup25R101D250625
Acumatica__Company=
Acumatica__Branch=
Acumatica__Username=
Acumatica__Password=
Acumatica__EndpointName=Default
Acumatica__EndpointVersion=24.200.001
Acumatica__CountryCode=ZA
Acumatica__CustomerAccounts__0=
Acumatica__PageSize=100
Shoprite__BaseUrl=https://externalservicesqa.shopriteholdings.co.za/b2bservice/api
Shoprite__Username=
Shoprite__Password=
Shoprite__ContractId=aa659aa2-4175-471f-8c82-59ca416723cf
Shoprite__UiUser=
